<div class="shop-info_dashboard d-flex">
  <div class="shop-image-rating">
    <div>
      <%= image_tag("shop-placeholder.jpg", :alt => "shop", style: "width: 165px; height: 120px; border-radius: 10px; margin-bottom: 10px;") %>
    </div>
    <div class="rating-index d-flex flex-wrap align-items-center">
      <div class="calculated-rating">
        <%=shop.calculate_rating %>
      </div>
      <% shop.calculate_rating.round.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="more-shop-info-1">
    <div class="shop-info-name-number">
      <div class="shop-logo">
        <div class="shop-info-with-logo">
          <strong><%= shop.name %></strong>
          <h6><%= shop.phone_number %></h6>
          <h6><%= shop.website %></h6>
        </div>
          <%= image_tag("visit-shop-2.png", :alt => "shop", style: 'width: 50px; height: 50px;') %>
      </div>
       <% all_products = current_user.product_selections.group_by(&:shop) %>
        <div class="upcoming-orders-list-1" id="upcoming-orders">
        <ul class= "product-selection-list">
          <h6><strong>Your selection:</strong></h6>
          <div class="produce-ugly-scroll index-scroll force_overflow">
                <div data-spy="scroll" data-offset="0" class="scrollbar scrollbar-primary scrollbar-index">
                  <div class="scrollbar-items">
                    <% all_products.keys.each do |shop| %>
                    <% all_products[shop].each do |product_selection| %>
                    <h6><strong><%= product_selection.product.produce_type.name %></strong>, discount of:<%= product_selection.product.discount_percent %>%</h6>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>

        </ul>
   <ul>


    </div>
   </div>
 </div>
</div>









