<div class="shop-info_dashboard d-flex">
  <div class="shop-image-rating">
    <div>
      <%= image_tag("shop-placeholder.jpg", :alt => "shop", style: "width: 165px; height: 120px; border-radius: 10px; margin-bottom: 10px;") %>
    </div>
    <div class="rating-index d-flex flex-wrap align-items-center">
      <div class="calculated-rating">
        <%=shop.calculate_rating %>
      </div>
      <% shop.calculate_rating.round.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>
  <div class="more-shop-info-1">
    <div class="name-and-distance">
      <strong><%= shop.name %></strong>
      <h6> <%= shop.address %> </h6>
      <h6><%= shop.phone_number %></h6>
      <h6><%= shop.website %></h6>
       <% all_products = current_user.product_selections.group_by(&:shop) %>
        <div class="upcoming-orders-list-1" id="upcoming-orders">
        <li class= "product-selection-list">
          <h6><strong>Your selection:</strong></h6>
          <% all_products.keys.each do |shop| %>
          <% all_products[shop].each do |product_selection| %>
          <h6><%= product_selection.product.produce_type.name %></h6>
           <% end %>
           <% end %>
        </li>
    </div>
   </div>
 </div>
</div>









