<div class="card-shop-ratings">
  <ul class="list-group">
    <% @shop.ratings.each do |rating| %>
      <li class="list-group-item"><%= rating.content %></li>
    <% end %>
  </ul>
</div>


<div class="card-shop-show">
  <h2><%= @shop.name %></h2>
  <img src="https://assercourant.nl/media/NjgwMzUwXzcxODRhNDVkMmE2MjNkM2YwZTBiNmNlNmFjOWRhYzVjZDUxYTFlMjRfNjIweEMxMTM2eDYzOSswKzA=.jpg">
  <p><%= @shop.address %></p>
</div>

<div class="shop-map">
  <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>




<h2><%= @shop.name %></h2>
<%#= cl_image_tag @shop.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @shop.address %></p>
<p><%#= @shop.reviews %></p>


<ul class="list-group">
  <% @shop.ratings.each do |rating| %>
    <li class="list-group-item"><%= rating.content %></li>
  <% end %>
</ul>

<li class="list-group-item">
      <%#= rating.content %>
      <%#= link_to "Remove",
                  rating_path(rating),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %> |
<%= link_to 'Leave a review', new_shop_rating_path(@shop) %>
