<%= render "shop_nav" %>

<div class="shops-show-all-back">
      <%= link_to shops_path do %>
      <div class="back-to-shops" style="color: white;">
        <i class="fas fa-arrow-circle-left fa-2x"></i>
      </div>
    <% end %>

<div class="shops-show-all">
  <div class="storefront-container d-flex" id="heart">
    <%= render partial: "shop_info", locals: { rating: @rating, shop: current_user.shop } %>

    <%= render "shop_map" %>
  </div>

</div>

<div class="shops-show-all" style="text-align: center">

  <h2 class="purple" style="text-align: center; padding-top: 20px;">Browse Products</h2>


  <div class="show-products-search-machine d-flex flex-wrap">



    <div class="search-show-container ugly-search col-4" style="width: 425px;">

      <div class="d-flex products-title" style="padding-bottom: 20px;">
        <%= image_tag("ugly-index.png", :alt => "shop", class: "scroll-icons") %>
      </div>

      <div class="row">
        <div class="col-sm-12 mb-3">
          <input type="text" id="myFilter" class="form-control my-Filter"  placeholder="Search for uglies..">
        </div>
      </div>
      <div class="row" id="myItems">
        <div class="col-sm-12 mb-3">
          <% @shop.ugly_foods.sort_by(&:produce_type).each do |product| %>

          <% product.total_units ? measure = "units" : measure = "kg"  %>
            <%= render partial: "ugly_food", locals: { product: product, measure: measure } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="search-show-container old-search col-4" style="width: 425px;">

      <div class="d-flex products-title" style="padding-bottom: 20px;">
        <%= image_tag("old-index.png", :alt => "shop", class: "scroll-icons") %>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-3">
          <input type="text" id="myFilter-2" class="form-control my-Filter"  placeholder="Search for oldies..">
        </div>
      </div>

      <div class="row" id="myItems-2">
        <div class="col-sm-12 mb-3">
          <% @shop.old_foods.sort_by{|t| [t.produce_type, t.produce_type.name] }.each do |product| %>

          <% product.total_units? ? measure = "units" : measure = "kg"  %>
            <%= render partial: "ugly_food", locals: { product: product, measure: measure } %>

          <% end %>
        </div>
      </div>

    </div>


    <div class="search-show-container flower-search col-4" style="width: 425px;">
      <div class="d-flex products-title" style="padding-bottom: 20px;">
        <%= image_tag("flower-index.png", :alt => "shop", class: "scroll-icons") %>
      </div>
      <div class="row">
        <div class="col-sm-12 mb-3">
          <input type="text" id="myFilter-3" class="form-control my-Filter"  placeholder="Search for flowers..">
        </div>
      </div>
      <div class="row" id="myItems-3">
        <div class="col-sm-12 mb-3">

          <% @shop.flowers.sort_by{ |t| t.produce_type.name }.each do |product| %>
          <% product.total_units? ? measure = "units" : measure = "kg"  %>
            <%= render partial: "flower", locals: { product: product, measure: measure } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>

