<div class="nav-bar-global" style="height: 100px; background-color: #F4A25B;">
  <div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag("cart.png", :alt => "shop", style: "width: 40px; height: 40px;")%>
    </button>
    <div class="dropdown-menu">
      <p>hello</p>
    </div>
  </div>

  </div>
</div>

<div class="storefront-container">

      <div class="card-shop-ratings">
      <ul class="list-group">
        <% @shop.ratings.each do |rating| %>
          <li class="list-group-item"><%= rating.content %></li>
        <% end %>
      </ul>
    </div>

      <div class="card-shop-show">
        <div class="card-shop-inner">
          <h2><%= @shop.name %></h2>
          <img src="https://assercourant.nl/media/NjgwMzUwXzcxODRhNDVkMmE2MjNkM2YwZTBiNmNlNmFjOWRhYzVjZDUxYTFlMjRfNjIweEMxMTM2eDYzOSswKzA=.jpg">
          <p><%= @shop.address %></p>
        </div>
      </div>

    <div class="shop-map">
      <div id="map"
           style="width: 30vw; height: 600px; border-radius: 13px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>

<div class="show-products-search-machine d-flex flex-wrap">

  <div class="search-show-container ugly-search">
    <h1>Ugly Foods</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        <% @shop.ugly_foods.each do |product| %>
          <% product.total_units? ? measure = "units" : measure = "kg"  %>
          <div class="card">
            <div class="card-body d-flex flex-wrap">
              <div class="card-main-information-produce">
                <div class="title-and-add d-flex justify-content-between">
                  <h5 class="card-title"><a href="#"> <%= product.produce_type.name %></a></h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
                <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
              </div>
              <div class="checkout-card">
                <%= simple_form_for(@product_selection, url: product_selections_path, remote: true) do |f|%>
                  <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
                  <%= f.input measure.to_sym, as: :integer %>
                  <%= f.input :cart_id, as: :hidden, input_html: { value: current_cart.id } %>
                  <%= product.total_units? ? "units" : "kg" %>
                  <%= button_tag do %><i class="far fa-plus-square"></i><% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="search-show-container old-search">
    <h1>Old Foods</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        <% @shop.old_foods.each do |product| %>
          <div class="card">
            <div class="card-body">
              <div class="card-main-information-produce">
                <div class="title-and-add d-flex justify-content-between">
                  <h5 class="card-title"><a href="#"> <%= product.produce_type.name %></a></h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
                <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="search-show-container old-search">
    <h1>Flowers</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        <% @shop.flowers.each do |product| %>
          <div class="card">
            <div class="card-body">
              <div class="card-main-information-produce">
                <div class="title-and-add d-flex justify-content-between">
                  <h5 class="card-title"><a href="#"> <%= product.produce_type.name %></a></h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
                <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
                <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
                <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %> |
<%= link_to 'Leave a review', new_shop_rating_path(@shop) %>
