<div class="nav-bar-global" style="height: 100px; background-color: #F4A25B; width: 100%;">
  <div d-flex justify-content-right>
    <div class="btn-group aign-items-right">
      <button type="button" class="btn btn-secondary dropdown-toggle dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= image_tag("cart.png", :alt => "shop", style: "width: 40px; height: 40px;")%>
      </button>
      <div class="dropdown-menu shopping-cart-drop">
        <% if current_user %>
        <%= "There is nothing in your cart" if current_user.current_cart.product_selections.empty? %>
        <% group_cart_items = current_user.current_cart.product_selections.group_by(&:shop) %>
        <% group_cart_items.keys.each do |shop_key| %>
        <div class="grouped-cart-items">
          <strong><%= shop_key.name %></strong>
          <% group_cart_items[shop_key].each do |select| %>
          <div class="cart-cards d-flex flex-wrap justify-content-between">
            <strong><p><%= select.product.produce_type.name %></p></strong>
            <div class="pending-purchase-info">
              <p><%= select.units ? "#{select.units} units" : "#{select.kg} kg" %></p>
              <p>€ <%= select.total_price.round(2) %></p>
            </div>
            <%= link_to product_selection_path(select),
            method: :delete,
            data: {confirm: "Are you sure you want to remove from cart?"},
            remote: true do %>
            <i class="far fa-minus-square"></i>
            <% end %>
          </div>
          <% end %>
        </div>
        <% end %>
        <div>
          <%= link_to cart_path(current_user.current_cart) do%>
          <p>See cart</p>
          <% end %>
        </div>
        <% else %>
        hello
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', shops_path %>
<div class="storefront-container">
  <div class="card-shop-ratings">
    <div class="ratings-title">
        <h5>Store rating: <%= @shop.calculate_rating %></h5>
        <div class="show-user-rating-stars d-flex flex-wrap">
          <% @shop.calculate_rating.round.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>
    </br>
    <h6>Read recent reviews</h6>
    <div data-spy="scroll" data-offset="0" class="scrollbar scrollbar-primary scroll-bar-shopfront overflow-auto">
      <div class="scrollbar-items">
        <% @shop.ratings.each do |rating| %>
        <div class="show-rating">
          <div class="d-flex justify-content-between">
            <strong><p><%= rating.user.first_name%> <%= rating.user.last_name%></p></strong>
            <%= rating.created_at.strftime("%y-%m-%d") %>
          </div>
          <div class="show-user-rating d-flex flex-wrap">
            <p><%= rating.rating %> </p>
            <div class="show-user-rating-stars d-flex flex-wrap">
              <% rating.rating.times do %>
              <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
          <p><%= rating.content %></p>
        </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Leave a review', new_shop_rating_path(@shop) %>
  </div>
    <div class="card-shop-show" style="text-align: center;">
      <% if user_signed_in? %>
        <div class="likes">
          <%= button_to shop_likes_path(@shop), method: :post do %>
          <% if @liked_shop %>
          <i class="fas fa-heart"></i>
          <% else %>
          <i class="fal fa-heart"></i>
          <% end %>
          <% end %>
          <p><%= @shop.likes.count %> <%= (@shop.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>
      <% end %>
      <div class="likes">
        <h2><%= @shop.name %></h2>
      </div>
      <img src="https://assercourant.nl/media/NjgwMzUwXzcxODRhNDVkMmE2MjNkM2YwZTBiNmNlNmFjOWRhYzVjZDUxYTFlMjRfNjIweEMxMTM2eDYzOSswKzA=.jpg">
      <strong><p><%= @shop.address %></p></strong>
      <p class="opening-hours">Monday 10:00-18:00</p>
      <p class="opening-hours">Tuesday 10:00-18:00</p>
      <p class="opening-hours">Wednesday 10:00-18:00</p>
      <p class="opening-hours">Thursday 10:00-18:00</p>
      <p class="opening-hours">Saturday 12:00-17:00</p>
      <p class="opening-hours">Sunday 12:00-17:00</p>
    </div>
  <div class="shop-map">
    <div id="map"
    style="width: 30vw; height: 600px; border-radius: 13px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
<div class="show-products-search-machine d-flex flex-wrap">
  <div class="search-show-container ugly-search col-4">
    <h1>Ugly Foods</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems">
      <div class="col-sm-12 mb-3">
        <% @shop.ugly_foods.each do |product| %>
        <% product.total_units? ? measure = "units" : measure = "kg"  %>
        <div class="card">
          <div class="card-body d-flex flex-wrap">
            <div class="card-main-information-produce">
              <div class="title-and-add d-flex justify-content-between">
                <h5 class="card-title"><a href="#"> <%= product.produce_type.name %></a></h5>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
              <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
            </div>
            <div class="checkout-card">
              <% if user_signed_in? %>
              <%= simple_form_for(@product_selection, url: product_selections_path, remote: true) do |f|%>
              <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
              <%= f.input measure.to_sym, as: :integer %>
              <%= f.input :cart_id, as: :hidden, input_html: { value: current_cart.id } %>
              <%= product.total_units? ? "units" : "kg" %>
              <%= button_tag do %><i class="far fa-plus-square"></i><% end %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="search-show-container old-search col-4">
    <h1>Old Foods</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter-2" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems-2">
      <div class="col-sm-12 mb-3">
        <% @shop.old_foods.each do |product| %>
        <% product.total_units? ? measure = "units" : measure = "kg"  %>
        <div class="card">
          <div class="card-body d-flex flex-wrap">
            <div class="card-main-information-produce">
              <div class="title-and-add d-flex justify-content-between">
                <h5 class="card-title-2"><a href="#"> <%= product.produce_type.name %></a></h5>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
              <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
            </div>
            <div class="checkout-card">
              <% if user_signed_in? %>
              <%= simple_form_for(@product_selection, url: product_selections_path, remote: true) do |f|%>
              <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
              <%= f.input measure.to_sym, as: :integer %>
              <%= f.input :cart_id, as: :hidden, input_html: { value: current_cart.id } %>
              <%= product.total_units? ? "units" : "kg" %>
              <%= button_tag do %><i class="far fa-plus-square"></i><% end %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="search-show-container flower-search col-4">
    <h1>Flowers</h1>
    <div class="row">
      <div class="col-sm-12 mb-3">
        <input type="text" id="myFilter-3" class="form-control"  placeholder="Search for names..">
      </div>
    </div>
    <div class="row" id="myItems-3">
      <div class="col-sm-12 mb-3">
        <% @shop.flowers.each do |product| %>
        <% product.total_units? ? measure = "units" : measure = "kg"  %>
        <div class="card">
          <div class="card-body d-flex flex-wrap">
            <div class="card-main-information-produce">
              <div class="title-and-add d-flex justify-content-between">
                <h5 class="card-title-3"><a href="#"> <%= product.produce_type.name %></a></h5>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_units} kg" if product.total_units %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= "#{product.total_kg} kg" if product.total_kg %></h6>
              <h6 class="card-subtitle mb-2 text-muted"> Euros<%= product.price_per_unit %>/unit</h6>
              <h6 class="card-subtitle mb-2 text-muted"> <%= product.discount_percent %>%</h6>
              <h6 class="card-subtitle mb-2 text-muted"> Discount price: Euros<%= product.total_price %>/unit</h6>
            </div>
            <div class="checkout-card">
              <% if user_signed_in? %>
              <%= simple_form_for(@product_selection, url: product_selections_path, remote: true) do |f|%>
              <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
              <%= f.input measure.to_sym, as: :integer %>
              <%= f.input :cart_id, as: :hidden, input_html: { value: current_cart.id } %>
              <%= product.total_units? ? "units" : "kg" %>
              <%= button_tag do %><i class="far fa-plus-square"></i><% end %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>