 <div class="chat-container">

  <% unless chatroom.messages[0] %>
     <h1> You have no chat history</h1>
   <% end %>

  <div class="responses-box">
    <div class = "responses">
      <div id="messages" data-chatroom-id="<%= chatroom.id %>">
        <% chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="margin-top: 20px;padding-top: 10px;">
    <div class=" message-sent">
      <%= simple_form_for [ shop, chatroom, message], remote: true do |f| %>
      <%= f.hidden_field :chatroom, value: chatroom.id %>
      <%= f.input :content, label: false, class: "send-new-message", placeholder: "send a message" %>
    </div>

    <div class= "message-button">
      <%= button_tag do%>
          <i class="fas fa-paper-plane fa-lg" style="padding-top: 10px; padding-left: 2px; color: #F8CA6B;"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>


