<%= simple_form_for(product_selection, url: product_selections_path, remote: true) do |f|%>
              <%= f.error_notification %>
              <%= f.input :product_id, as: :hidden, input_html: { value: product.id } %>
                <%= f.label measure.to_sym, "Select quantity" %>
              <div class="d-flex flex-wrap align-items-center" style="margin-top: 0;">
                <%= f.input measure.to_sym, as: :integer, input_html: {min:1, step: 1, max: 15}, label: false %>
                <%= f.input :cart_id, as: :hidden, input_html: { value: current_cart.id } %>
                <%= button_tag do %><i class="fas fa-cart-plus fa-lg" style="color: #D6F1FC"></i><% end %>
              </div>
            <% end %>

