
<div class="user-dash-main">

  <div class="user-tabs-content d-flex">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="owner-dash nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-home fa-owner"></i> Home</a>
      <a class=" owner-dash nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-pepper-hot fa-owner"></i> Your Orders</a>
      <a class="owner-dash" id="v-pills-notifications-tab" data-toggle="pill" href="#v-pills-notifications" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-bell fa-owner"></i> Alerts</a>
      <a class="owner-dash" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-comments fa-owner"></i> Messages</a>
    </div>

  <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="greeting-wrap-up d-flex flex-wrap" id= "background-greeting">
          <div class="welcome-logo-dashboard">
            <%= image_tag("Ugly Foods copy 4.png", :alt => "shop", style: 'width: 60px; height: 60px;') %>
          </div>
          <div class="greeting-dashboard">
            <div class="greeting-user-dashboard">
              <h3> Hello <%= current_user.first_name %>, welcome back!</h3>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-around">

          <div class="all-orders">
            <div class="user-upcoming-orders">
              <h3>Upcoming orders</h3>
              <div class="upcoming-orders">
                <div class="upcoming-orders-list">
                  <div class="index-scroll force_overflow">
                      <div data-spy="scroll" data-offset="0" class="scrollbar scrollbar-primary scrollbar-user-dash">

                  <% all_upcoming_carts = current_user.user_upcoming_carts %>
                  <% all_upcoming_carts.sort_by {|cart| cart.pick_up_date}.each do |cart| %>

                    <div class="carts-user-dash">
                      <!-- going into the cart itself, separated by carts -->
                      <div class="d-flex justify-content-between">
                        <h5>CART</h5>
                        <p>Total: € <%= cart.calculate_price %></p>
                      </div>
                      <p>Pick up date: <%= cart.pick_up_date %></p>
                      <!-- cart now grouped by shop -->
                      <% grouped_prod_select =  cart.product_selections.group_by(&:shop) %>
                      <div>
                        <!--now going into the product selection for each shop -->
                        <% grouped_prod_select.keys.each do |shop_key| %>
                          <div class="upcoming-org-shop">
                            <strong><%= shop_key.name %></strong>
                            <% grouped_prod_select[shop_key].each do |selection| %>
                              <div class="d-flex justify-content-between">
                                <p><%= selection.product.produce_type.name %> </p>
                                <div>
                                  <p><%= selection.units ? "#{selection.units} units" : "#{selection.units} kg" %>  </p>
                                  <p>€<%= selection.total_price%>  </p>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>

                  <% end %>

                </div>
              </div>

                </div>
              </div>
            </div>
          </div>

          <div class="user-blurb">
            <h3>Here are your stats!</h3>
            <p>you have saved x kg & x units of ugly foods </p>
            <p>you have saved x kg & x units of oldies but goldies </p>
            <p>you have saved x kg & x units of flowers </p>
            <h6>Keep it up!</h6>
          </div>

        </div>

        <div class="all-shops">
          <div class="shops-near-me">
            <h3>Discover shops near you (less than 4km away!)</h3>
            <div class="shops-near-me-list">
              <% current_user.shops_near_me.each do |shop| %>
                <div class="shops-near-me">
                  <%= shop.name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="ratings-dashboard">
          <h3>Don't forget to leave a review </h3>
          <div class="shops-to-review d-flex flex-wrap">
            <% current_user.ratings_todo.each do |shop| %>
              <div>
                <%= shop.name %>
                <%= shop.calculate_rating %>
                <div class="marqt-shop" style="width: 150px; height: 120px;">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


    <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <h1>your orders</h1>
        <%= render 'shared/user_dash_orders' %>
        <%= yield %>
    </div>
    <div class="tab-pane fade" id="v-pills-notifications" role="tabpanel" aria-labelledby="v-pills-messages-tab">
      <h1>your notifications</h1>
      <!-- yield -->
    </div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-settings-tab">
      <h1>your messages</h1>
      <!-- yield -->
    </div>
  </div>

</div>
