<h2>this is the customer (user) dashboard</h2>

<div class="greeting-user-dashboard">
  <h3> Hello <%= current_user.first_name %>, welcome back!</h3>
</div>


<div class="all-the-shit">
  <div class="user-orders">
    <div class="upcoming-orders">
      <h3>Upcoming orders</h3>
      <div class="upcoming-orders-list">
        <% all_product_selections = current_user.product_selections.group_by(&:shop) %>
        <div class="upcoming-orders-list-1" id="upcoming-orders">
          <% all_product_selections.keys.each do |shop| %>
          <%= render 'shops/card', shop: shop %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="user-past-info">
      <div class="user-past-orders">
        <div class="past-orders">
          <h3>Past orders</h3>
          <div class="past-orders-list">
            <% all_past_products = current_user.product_selections.group_by(&:shop) %>
            <div class="past-orders-list-1" id="past-orders">
              <% all_past_products.keys.each do |shop| %>
              <%= render 'shops/card', shop: shop %>
              <% end %>
            </div>
          </div>
          <div class="past-orders-list-2" id="past-orders">
            <% all_past_products.keys.each do |shop| %>
            <%= render 'shops/card', shop: shop %>
            <% end %>
          </div>
          <div class="past-orders-list-2" id="past-orders">
            <% all_past_products.keys.each do |shop| %>
            <%= render 'shops/card', shop: shop %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="all-shops">
    <div class="shops-near-me">
      <h3>Shops near me</h3>
      <div class="shops-near-me-list">
        <div class="shops-near-me-list-1" id="shops-near-me">
          <% all_past_products.keys.each do |shop| %>
          <%= render 'shops/card', shop: shop %>
          <% end %>
        </div>
        <div class="shops-near-me-list-2" id="shops-near-me">
         <% all_past_products.keys.each do |shop| %>
         <%= render 'shops/card', shop: shop %>
         <% end %>
       </div>
       <div class="shops-near-me-list-3" id="shops-near-me">
         <% all_past_products.keys.each do |shop| %>
         <%= render 'shops/card', shop: shop %>
         <% end %>
       </div>
     </div>
   </div>
 </div>

 <div class="ratings-dashboard">
  <h3>Don't forget to leave a review you cheap ass fucks!!!</h3>
  <div class="ratings-dashboard-list">
    <div class="ratings-dashboard-list-1" id="ratings-dashboard">
      <div class="marqt-shop" style="width: 150px; height: 120px;">
      </div>
      <div class="calculated-rating">
        <%=Shop.second.calculate_rating %>
      </div>
      <% Shop.second.calculate_rating.times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
    <div class="ratings-dashboard-list-2" id="ratings-dashboard">
      <div class="marqt-shop" style="width: 150px; height: 120px;">
      </div>
      <p>Opening hours of the shop</p>
    </div>
    <div class="ratings-dashboard-list-3" id="ratings-dashboard">
      <div class="marqt-shop" style="width: 150px; height: 120px;">
      </div>
      <p>Opening hours of the shop</p>
    </div>
  </div>
</div>
