
<div class="user-dash-main">

  <div class="user-tabs-content d-flex">

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="owner-dash nav-link <%= 'active' unless params[:messages] == "true" %>" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-home fa-owner user-logo"></i> Home</a>
      <a class=" owner-dash nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-pepper-hot fa-owner user-logo"></i> Your Orders</a>
      <a class="owner-dash" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fas fa-comments fa-owner user-logo"></i> Messages <%= current_user.notifications.count %></a>
    </div>

    <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

          <div class="greeting-wrap-up d-flex flex-wrap" id= "background-greeting">
            <div class="welcome-logo-dashboard">
              <%= image_tag("Ugly Foods copy 4.png", :alt => "shop", style: 'width: 60px; height: 60px;') %>
            </div>
            <div class="greeting-dashboard">
              <div class="greeting-user-dashboard">
                <h3> Hello <%= current_user.first_name.downcase.capitalize %>, welcome back!</h3>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-around top-bloc-user">

              <div class="all-orders">
                <div class="user-upcoming-orders">
                  <h3 class="upcoming-title orange-text">Upcoming orders</h3>
                  <div class="upcoming-orders">
                      <div class="index-scroll force_overflow">
                        <div data-spy="scroll" data-offset="0" class="scrollbar scrollbar-primary scrollbar-user-dash">
                          <div class="upcoming-orders-list">
                            <% all_upcoming_carts = current_user.user_upcoming_carts[0..3] %>
                            <% all_upcoming_carts.sort_by {|cart| cart.pick_up_date}.each do |cart| %>

                              <div class="carts-user-dash">
                                <!-- going into the cart itself, separated by carts -->
                                <div class="d-flex justify-content-between cart-titling">
                                  <div class="d-flex flex-wrap">
                                    <div class="cart-item-user-up">🛒</div>
                                    <p class="orange-text"><strong>Order on <%= cart.pick_up_date %></strong></p>
                                  </div>
                                  <p>€ <%= cart.calculate_price %></p>
                                </div>

                                <!-- cart now grouped by shop -->
                                <% grouped_prod_select =  cart.product_selections.group_by(&:shop) %>
                                <div>
                                  <!--now going into the product selection for each shop -->
                                  <% grouped_prod_select.keys.each do |shop_key| %>
                                    <div class="upcoming-org-shop">
                                      <p class="cart-shop-title purple"><strong><%= shop_key.name %></strong></p>
                                      <% grouped_prod_select[shop_key].each do |selection| %>
                                        <div class="d-flex justify-content-between cart-item-group">
                                          <p class="cart-items"><%= selection.product.produce_type.name %> </p>
                                          <div>
                                            <p class="cart-items"><strong>€<%= selection.total_price%></strong> </p>
                                            <p class="cart-items"><%= selection.units ? "#{selection.units} units" : "#{selection.units} kg" %>  </p>
                                          </div>
                                        </div>
                                      <% end %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          </div>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
            <div style="height: 100%;">
              <div class="user-blurb">
                <h3>Here are your stats! 💡</h3>
                <% user_stats = current_user.amnt_saved %>
                  <div class="d-flex">
                    <%= image_tag("ugly-white.png", :alt => "shop", style: 'width: 30px; height: 30px;') %>
                    <p>You have saved <%= user_stats[:kg_ugly_sum]%> kg & <%= user_stats[:units_ugly_sum]%> units of ugly foods </p>
                  </div>
                  <div class="d-flex">
                    <%= image_tag("old-white.png", :alt => "shop", style: 'width: 30px; height: 30px;') %>
                    <p>You have saved <%= user_stats[:kg_old_sum]%> kg & <%= user_stats[:units_old_sum]%> units of oldies but goldies </p>
                  </div>
                  <div class="d-flex">
                    <%= image_tag("flower-white.png", :alt => "shop", style: 'width: 30px; height: 30px;') %>
                    <p>You have saved <%= user_stats[:flower_sum]%> units of flowers </p>
                  </div>
                <h6>Keep it up!</h6>
              </div>

              <div class="notifications">
                <h1 class="purple-title">Your notifications</h1>
                <% current_user.notifications.each do |notification| %>
                <%= link_to "#{notification.to_notification.message} ", shop_chatroom_path(notification.params[:message].user) %>
                <% end %>
                <!-- yield -->
              </div>
            </div>

          </div> <!-- Top bloc user-->

          <div class="all-shops">

            <div class="container-fluid shops-near-me" >
              <h3 class="orange ">Discover shops near you</h3>
              <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 shops-near-me-list">
                <% current_user.shops_near_me.each do |shop| %>
                  <div class="shop-near-me col-5">
                    <div class="d-flex flex-wrap">
                      <div class="marqt-shop marqt-shop-near" style="width: 150px; height: 120px;"></div>
                      <div class="dash-shop-info">
                        <strong><p class="orange"><%= shop.name %></strong>
                        <div class="">
                          <p class="grey">This shop is owned by</p><p class="purple"><%= "     #{shop.user.first_name} #{shop.user.last_name}" %></p>
                        </div>
                        <div class="d-flex flex=wrap">
                          <p class="purple"><%= shop.calculate_rating %></p>
                          <div class="icon-in-line d-flex flex-wrap">
                            <% shop.calculate_rating.truncate().times do %>
                              <i class="fas fa-star purple"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="features-products">
                      <p class="purple">Features products this week:</p>
                    </div>

                  </div>
                  <div class="featured-prod-display">

                  </div>
                <% end %>
              </div>
            </div>

          </div>

          <div class="container-fluid discover-shops-container ratings-dashboard" >
            <h3 class="purple">You shopped with us recently, don't forget to leave a review 🤩</h3>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

              <% current_user.ratings_todo.each do |shop| %>
                <div class="col-5">
                  <div class="card card-block card-4 leave-a-review">
                    <h5><%= shop.name %></h5>
                    <div class="d-flex flex-wrap justify-content-center">
                    <p>Let us know how your experience with &nbsp</p>
                    <p class="purple"><%= shop.user.first_name %>
                    <%= shop.user.last_name %><p><p>&nbsp went</p>
                    </div>
                    <p class="leave-a-review-btn orange"> 🌟 Leave a review🌟</p>
                  </div>
                </div>
              <% end %>

            </div>
          </div>

        </div> <!-- Tab Content -->


      <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h1 class="purple">Order History</h1>
          <%= render 'shared/user_dash_orders' %>
          <%= yield %>
      </div>


      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <h1 class="purple-title">your messages</h1>
        <!-- yield -->
      </div>

    </div> <!-- Tab content -->

  </div>
</div>
