<div class="home-banner" style="position: relative">
  <div class="d-flex justify-content-between">
    <div class="welcome-home d-flex">
      <%= image_tag("logo3.png", :alt => "ugly goods", style: 'width: 80px; height: 80px;') %>
      <h1>Ugly foods</h1>

    </div>

    <div>
      <% if user_signed_in? %>
        <div class="user-button-main">
          <%= render "shared/user_button" %>
        </div>
      <% end %>
      <% if !user_signed_in? %>
        <%= link_to new_user_session_path do%>
          <p class="log-in-prompt" style="width: 80px; text-align: center; color: white; border: 0.4px solid white; padding: 5px 10px 5px 10px; border-radius: 15px;"> Log in </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <a href="#page2" class= scroll-down style="display: block;">
    <i class="icon">
      <i class="slide-bottom">
      </i>
    </i>
    <span>scroll down</span>
  </a>


  <div class = "index-container d-flex align-items-center">

  <div class="main-home-stuff">
    <%= render 'shared/search_bar' %>
    <div style="padding-left: 2%; padding-top: 4%;">
      <h5 class="help-us-button" style="text-align:center" >Help us save the foods</h5>
    </div>
  </div>
  </div>
</div>

  <div class="whole-categories d-flex flex-wrap justify-content-center" id="page2" style="padding-bottom: 80px; text-align: center;">
    <div class="what-we-do-title">
      <h2 class="tracking-in-contractz">What we do</h2>
    </div>


   <div class="girl-containe d-flex justify-content-center">
      <div class="card-girl" style="width: 22rem; height: 30rem;">
      </div>

      <div class="our-card scale-up-centerz">
        <div class="whatever">
          <h4> We are a startup driven by sustainability.</h4>
          <br/>
          <p> A common misconception is that fruits and vegetables only look strange if something is wrong with them or they are genetically modified (GMO). Quite the opposite: All-natural produce is apt to look funkier than the picture-perfect kind that is engineered in a </p>
          <p>Unfortunately, fruits and vegetables are often rejected by grocery stores and supermarkets due to natural imperfections or variations in size. Carrots grow into each other and look twisted. Peppers get blemishes from the ground. Apples fall and get bruised.</p>
          <p>All are perfectly normal, nutritious and tasty, and they shouldn’t be discarded. Sometimes a market owner may have received an item that is ugly in a certain way. We’ll pick up the slack so that market owners still make money from ugly products and nothing goes to waste.</p>
        </div>

      </div>
    </div>
  </div>

<div class = "landing-photo-2">
   <h3>Don't judge a book </br>by it's cover</h3>
   <p>We are all the same </br> on the inside</p>
</div>


<div class="how-ugly">

  <div class="how-it-works" >
    <h2 class="tracking-in-contracts">How we work</h2>
  </div>

  <div class = "index-category">
    <div class = "index-ugly index-card-info" id="categories-products">
      <%= image_tag("ugly-index.png", :alt => "shop", class: "scroll-icons") %><h3> Ugly foods </h3></br>
      <p>  Approximately 20% of all fruits and vetegables get thrown away for cosmetic imperfections. Let’s not feed in to that... instead let’s feed ourselves, for cheaper!</p>
    </div>
    <div class="index-old index-card-info" id="categories-products">
      <%= image_tag("old-index.png", :alt => "shop", class: "scroll-icons") %><h3> Oldies but Goldies </h3></br>
      <p>Their clock may be ticking, but let’s still give them a chance. Our oldies are fruits and vegetables that are going bad soon, but are still in their prime. Let’s not let them go to waste.</p>
    </div>
    <div class="index-flower index-card-info" id="categories-products">
      <%= image_tag("flower-index.png", :alt => "shop", class: "scroll-icons") %> <h3> Flowers </h3></br>
      <p>Let’s take a load off our local flower shops and decorate our homes. If flowers are nearing their due date, shopowners will upload them to Ugly Foods to make sure they find a home.</p>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Elements -->
  <div class="container text-center">

      <!-- Grid row-->

    <ul id="buttons">
      <li class="fb">
        <a href="#facebook" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="tw">
        <a href="#twitter" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="in">
        <a href="http://instagram.com/ilyasbilgihan" title="Instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="gh">
        <a href="#github" title="Github">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- Copyright -->
  </div>

</footer>

<!-- Footer -->


