
<div class = "index-container d-flex align-items-center">
  <div class= "main-search-bar d-flex flex-wrap align-items-center">

      <div class="search-item">
      <%= simple_form_for :search, url: shops_path, html: {class: "search-form"}, method: :get do |f|%>
        <%= f.input :location, as: :string, html: {class: "search-location"}, placeholder: "enter your address", label: false%>
      </div>

      <div class="search-item">
        <%= f.input :km, collection: [2,4,6,8,10,20,30], html: {class: "search-location"}, prompt: "How far do you want to go?", label: false%>
      </div>

      <div class="dropdown search-item">
        <button class="btn btn-secondary dropdown-toggle btn-search-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("flower.png", :alt => "shop", style: 'width: 25px; height: 25px;') %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="text" id="autocomplete-flowers">
          <%= f.input :flowers, collection: ProduceType.where(category: 2).pluck(:name), input_html: {multiple: true}, as: :check_boxes %>
        </div>
      </div>

      <div class="dropdown search-item">
        <button class="btn btn-secondary dropdown-toggle btn-search-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-pepper-hot fa-lg"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="text" id="autocomplete">
          <%= f.input :fruits_and_veggies, collection: ProduceType.where(["category = ? or category = ?", 0, 1]).pluck(:name), input_html: {multiple: true, id: :name}, as: :check_boxes %>
        </div>
      </div>

      <div class="dropdown search-item">
        <%= button_tag do %><i class="fas fa-search"></i><% end %>
      </div>
  <% end %>
  </div>

</div>

<div class="index-map">
  <font size="+9" style= "height:4%">Our locations</font>

<div id="map"
class="map-home"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

   </div>



   <div class="what-we-do">
    <font size="+9" style= "height:4%">What we do </font>
  </div>



  <div class="whole-categories">
   <div class="girl-container">
    <div class="card-girl" style="width: 22rem; height: 30rem;">
    </div>
    <div class="our-card" style="height: 30rem">
      <div class="whatever">
        <h4> We are a startup driven by sustainability.</h4>
        <br/>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio soluta impedit consequatur neque? Ipsam, corrupti. Officiis tenetur culpa maxime accusamus earum, quisquam aspernatur nesciunt repellendus perferendis, vero veniam natus iure. Iusto est deserunt ratione labore fuga ipsum tempora error voluptate reprehenderit, aut ut consectetur! Molestias soluta unde consequuntur mollitia. Dolorem numquam repellendus quis consequatur placeat similique accusamus quaerat. Velit.</p>
      </div>
    </div>
  </div>

  <div class = "index-category">
    <div class = "index-ugly" id="categories-products">
      <h3> Ugly foods </h3>
      <p>  Approximately 20% of all fruits and vetegables get thrown away for cosmetic imperfections. Let’s not feed in to that... instead let’s feed ourselves, for cheaper!</p>
    </div>
    <div class="index-old" id="categories-products">
      <h3> Oldies but Goldies </h3>
      <p>Their clock may be ticking, but let’s still give them a chance. Our oldies are fruits and vegetables that are going bad soon, but are still in their prime. Let’s not let them go to waste.</p>
    </div>
    <div class="index-flower" id="categories-products">
      <h3> Flowers </h3>
      <p>Flowers have a short life span. Let’s take a load off our local flower shops and decorate our homes. If flowers are nearing their due date, shopowners will upload them to Ugly Foods to make sure they find a home.</p>
    </div>


  </div>


  <div class="how-it-works">
    <font size="+3">How it works</font>
  </div>

  <div class="app-steps">
    <div class="steps">Log in</div>
    <div class="steps">Search</div>
    <div class="steps">Add to cart</div>
    <div class="steps">Calendar check</div>
    <div class="steps">Pay</div>

  </div>
  <div class="app-carrots">
    <div class="image-wrapper">

      <%= image_tag "carrot.png" %>
    </div>
    <div class="line">
      <span class="actual-line"></span>
    </div>
    <div class="image-wrapper">

      <%= image_tag "carrot.png" %>
    </div>
    <div class="line">
      <span class="actual-line"></span>
    </div>
    <div class="image-wrapper">

      <%= image_tag "carrot.png" %>
    </div>
    <div class="line">
      <span class="actual-line"></span>
    </div>
    <div class="image-wrapper">

      <%= image_tag "carrot.png" %>
    </div>
    <div class="line">
      <span class="actual-line"></span>
    </div>
    <div class="image-wrapper">

      <%= image_tag "carrot.png" %>
    </div>

  </div>

  <div class="app-description">
    <div class="description">Log In or create your Ugly Foods account</div>
    <div class="description">Check out daily offers from grocery stores near you</div>
    <div class="description">Create your basket for the day </div>
    <div class="description">Choose a date and time to pickup your groceries</div>
    <div class="description">Review your basket and pay</div>

  </div>

  </div>


</div>

<!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Elements -->
  <div class="container text-center">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
  <p> Copyrights Ugly foods</p>
  <!-- Copyright -->
  <!-- Copyright -->

</footer>
<!-- Footer -->


