<div class="home-banner" style="position: relative">
  <div class="d-flex justify-content-between">
    <div class="welcome">
      <div class="d-flex">
        <%= image_tag "logo2.png", class: "logo-navbar" %>
        <h1>Ugly foods</h1>
      </div>
    </div>

<<<<<<< HEAD
    <div>
      <%= link_to  do%>
        <p class="log-in-prompt" style="width: 80px; text-align: center; color: white; border: 0.4px solid white; padding: 5px 10px 5px 10px; border-radius: 15px;"> Log in </p>
      <% end %>
    </div>
=======
<div class="welcome-home">
  <h1>Ugly foods</h1>
</div>
>>>>>>> master

  </div>

  <a href="#page2" class= scroll-down style="display: block;">
    <i class="icon">
      <i class="slide-bottom">
      </i>
    </i>
    <span>scroll down</span>
  </a>


  <div class = "index-container d-flex align-items-center">

    <div class= "main-search-bar-home d-flex flex-wrap align-items-center">

      <div class="search-item">
        <%= simple_form_for :search, url: shops_path, html: {class: "search-form"}, method: :get do |f|%>
        <%= f.input :location, as: :string, html: {class: "search-location"}, placeholder: "Enter your address", label: false%>
      </div>

      <div class="search-item">
          <%= f.input :km, collection: [[2, "2km"], [4, "4km"],[6, "6km"],[8, "8km"],[10, "10km"],[20, "20km"],[30, "30km"]], label_method: :second, value_method: :first,  html: {class: "search-location"}, prompt: "How far do you want to go?", label: false%>

      </div>

      <div class="dropdown search-item">
        <button class="btn  dropdown-toggle btn-search-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("search-f.png", :alt => "shop", style: 'width: 40px; height: 40px;') %>
        </button>
        <div class="dropdown-menu search_flowers" aria-labelledby="dropdownMenuButton" id="test-for">
          <input type="text" id="autocomplete-flowers">
          <%= f.input :flowers, label: false, placeholder: "select a flower", collection: ProduceType.where(category: 2).pluck(:name), input_html: {multiple: true}, as: :check_boxes %>
        </div>
      </div>

      <div class="dropdown search-item">
        <button class="btn  dropdown-toggle btn-search-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag("search-v.png", :alt => "shop", style: 'width: 40px; height: 40px;') %>
        </button>
        <div class="dropdown-menu search_fruits_and_veggies" aria-labelledby="dropdownMenuButton" id="test-for">
          <input type="text" id="autocomplete">
          <ul id="collection"></ul>
          <%= f.input :fruits_and_veggies, label: false, collection: ProduceType.where(["category = ? or category = ?", 0, 1]).pluck(:name), input_html: {multiple: true, id: :name}, as: :check_boxes %>
        </div>
      </div>

        <div class="dropdown search-item">
          <%= button_tag do %><i class="fas fa-search"></i><% end %>
        </div>
        <% end %>

    </div>
    <p>Dont' have an account yet?&nbsp Help us save the foods</p>
  </div>
</div>

  <div class="whole-categories d-flex flex-wrap justify-content-center" id="page2" style="padding-bottom: 80px; text-align: center;">
    <div class="what-we-do-title">
      <h2>What we do</h2>
    </div>
<<<<<<< HEAD

   <div class="girl-containe d-flex justify-content-center">
      <div class="card-girl" style="width: 22rem; height: 30rem;">
      </div>

      <div class="our-card">
        <div class="whatever">
          <h4> We are a startup driven by sustainability.</h4>
          <br/>
          <p> A common misconception is that fruits and vegetables only look strange if something is wrong with them or they are genetically modified (GMO). Quite the opposite: All-natural produce is apt to look funkier than the picture-perfect kind that is engineered in a </p>
          <p>Unfortunately, fruits and vegetables are often rejected by grocery stores and supermarkets due to natural imperfections or variations in size. Carrots grow into each other and look twisted. Peppers get blemishes from the ground. Apples fall and get bruised.</p>
          <p>All are perfectly normal, nutritious and tasty, and they shouldn’t be discarded. Sometimes a market owner may have received an item that is ugly in a certain way. We’ll pick up the slack so that market owners still make money from ugly products and nothing goes to waste.</p>
        </div>
=======
   <div class="girl-container">
    <div class="card-girl" style="width: 22rem; height: 30rem;">
    </div>
    <div class="our-card" style="height: 30rem">
      <div class="whatever">
        <h4> We are a startup driven by sustainability.</h4>
        <br/>
        <p> A common misconception is that fruits and vegetables only look strange if something is wrong with them or they are genetically modified (GMO). Quite the opposite: All-natural produce is apt to look funkier than the picture-perfect kind that is engineered in a lab</p>
        <p>Unfortunately, fruits and vegetables are often rejected by grocery stores and supermarkets due to natural imperfections or variations in size. Carrots grow into each other and look twisted. Peppers get blemishes from the ground. Apples fall and get bruised.</p>
        <p>All are perfectly normal, nutritious and tasty, and they shouldn’t be discarded. Sometimes a market owner may have received an item that is ugly in a certain way. We’ll pick up the slack so that market owners still make money from ugly products and nothing goes to waste.</p>
>>>>>>> master
      </div>
    </div>
  </div>

<div class = "landing-photo-2">
   <h3>Don't judge a book </br>by it's cover</h3>
   <p>We are all the same </br> on the inside</p>
</div>


<div class="how-ugly">

  <div class="how-it-works" >
    <h2>How we work</h2>
  </div>

  <div class = "index-category">
    <div class = "index-ugly" id="categories-products">
      <%= image_tag("ugly-index.png", :alt => "shop", class: "scroll-icons") %><h3> Ugly foods </h3></br>
      <p>  Approximately 20% of all fruits and vetegables get thrown away for cosmetic imperfections. Let’s not feed in to that... instead let’s feed ourselves, for cheaper!</p>
    </div>
    <div class="index-old" id="categories-products">
      <%= image_tag("old-index.png", :alt => "shop", class: "scroll-icons") %><h3> Oldies but Goldies </h3></br>
      <p>Their clock may be ticking, but let’s still give them a chance. Our oldies are fruits and vegetables that are going bad soon, but are still in their prime. Let’s not let them go to waste.</p>
    </div>
    <div class="index-flower" id="categories-products">
      <%= image_tag("flower-index.png", :alt => "shop", class: "scroll-icons") %> <h3> Flowers </h3></br>
      <p>Let’s take a load off our local flower shops and decorate our homes. If flowers are nearing their due date, shopowners will upload them to Ugly Foods to make sure they find a home.</p>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Elements -->
  <div class="container text-center">

      <!-- Grid row-->

    <ul id="buttons">
      <li class="fb">
        <a href="#facebook" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="tw">
        <a href="#twitter" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="in">
        <a href="http://instagram.com/ilyasbilgihan" title="Instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="gh">
        <a href="#github" title="Github">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- Copyright -->
  </div>

</footer>

<!-- Footer -->


