
<div class= "cart-show-index">
  <div class= "second-index">
  <div class="container">


    <div class="user-intro">
      <h1><%= current_user.first_name.capitalize %>, welcome to your cart!</h1>
     <p> Together we can <strong> save </strong> the foods!</p>
   </div>




   <% group_cart_items = current_user.current_cart.product_selections.group_by(&:shop) %>



<%= link_to shops_path do %>
            <div class="continue-shoping">
              <div class="d-flex flex-wrap">
                <div class="continue-shopping-styling">
                  <p><i class="fas fa-long-arrow-alt-left"></i>
                  Continue shopping</p>
                </div>
              </div>
              <% end %>
            </div>

   <div class="row">

    <div class="col-6">
      <div class="cart-cards">
       <% group_cart_items.keys.each do |shop_key| %>
       <div class="all-cart-card-info" style="border-bottom: 0.2px solid grey; margin-bottom: 5px;">
          <div class = "cart-card-index" style="background-color:white;">

          <div class="cart-logo">
             <%= image_tag("cart-item.png", :alt => "cart-item")%>
           </div>

          <div class="cart-name">
            <strong class="orange"><%= shop_key.name %></strong>
          </div>

          <div class="cart-item-index-all">
            <% group_cart_items[shop_key].each do |select| %>
              <div class="cart-item-index">
                <strong><%= select.product.produce_type.name %></strong>
              </div>
            <% end %>
          </div>

          <div class="cart-quantity-index">
             <% group_cart_items[shop_key].each do |select| %>
               <div class= "cart-quantity">
                <strong>
                  <%= select.units ? "#{select.units} units" : "#{select.kg} kg" %>
                </strong>
              </div>
            <% end %>
          </div>

          <div class="cart-price-index">
           <% group_cart_items[shop_key].each do |select| %>
             <div class="cart-price">

              € <%= select.total_price.round(2) %>

                <%= link_to product_selection_path(select),
                method: :delete,
                data: {confirm: "Are you sure you want to remove from cart?"},
                remote: true do %>
                <i class="far fa-minus-square"></i>
                <% end %>

              </div>
            <% end %>
          </div>

        </div>

        <div class="price-per-shop">
          <p> Total per <%= shop_key.name %> <%= group_cart_items[shop_key].map {|item| item.total_price}.sum %></p>
        </div>
    </div>
  <% end %>

    <div class ="grand-total">
      <p>Total: <%= current_user.current_cart.product_selections.map {|item| item.total_price}.sum.round(2)%> €</p>
    </div>


     <div class="confirm-pay" id="payment-animation">
            <%= simple_form_for current_user.current_cart, url: cart_path(current_user.current_cart), method: :put do |f|%>
            <%= f.input :pick_up_date, as: :date, html5: true, data:{ provide:'datepicker' }, class: "confirm-pay-input" %>
            <%= f.submit 'Confirm your purchase', class: "confirm-pay-submit" %>
            <% end %>

          </div>

    </div>
</div>


  <div class="col-6">
    <%= render "shops/payment_method" %>
  </div>

</div>


</div>

            <div class="" id="fruit-slide">
              <h1 style= "font-size: 160px;">🥑</h1>
            </div>

</div>

</div>



</div> <!-- card.// -->

</div>

<script>
  const fruitSlide = document.querySelector("#fruit-slide")
  const paymentAnimation = document.querySelector("#payment-animation input[type='submit']")
  paymentAnimation.addEventListener("click",(e)=>{
    e.preventDefault()
    fruitSlide.classList.add("slide-out-elliptic-top-bck")
    setTimeout(() => {
      console.log("Waited for a while")
      document.querySelector("#payment-animation form").submit()
    }, 1200)

  })

</script>


