
<div class="user-dash-main">

  <div class="user-tabs-content d-flex">

    <div class="nav flex-column nav-pills user-main" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="owner-dash nav-link <%= 'active' unless params[:messages] == "true" %>" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-home fa-owner user-logo"></i> Home</a>
      <a class=" owner-dash nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-orders" aria-selected="false"><i class="fas fa-pepper-hot fa-owner user-logo"></i> Your Orders</a>
      <a class="owner-dash <%= 'active' if params[:messages] == "true" %>" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-comments fa-owner user-logo"></i> Messages</a>
    </div>

    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade <%= 'show active' unless params[:messages] == "true" %>" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

        <div class="greeting-wrap-up d-flex" id= "background-greeting">
          <div class="welcome-logo-dashboard">
            <%= image_tag("Ugly Foods copy 4.png", :alt => "shop", style: 'width: 60px; height: 60px;') %>
          </div>
          <div class="greeting-dashboard">
            <div class="greeting-user-dashboard d-flex">
              <h3 style="padding-left: 15px; padding-right: 100px;"> Hello <%= current_user.first_name.downcase.capitalize %>,</br> welcome back!</h3>
            </div>
          </div>
           <div>
              <%= render "shared/search_bar" %>
            </div>
        </div>

        <div class="d-flex justify-content-around top-bloc-user">
          <%= render partial: "top_bloc_user_dash" %>
        </div> <!-- Top bloc user-->

        <%= render partial: "user_shops_near_me" %>

        <%= render partial: "reminder_ratings" %>

      </div>


      <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
        <h1 class="purple">Order History</h1>
          <%= render 'user_dash_orders' %>
      </div>


      <div class="tab-pane fade <%= 'show active' if params[:messages] == "true" %>" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <%= render 'user_messages' %>
      </div>

    </div>

  </div>
</div>
